<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Atkinson-Hyperlegible-Bold-102.ttf</string>
		<string>Atkinson-Hyperlegible-BoldItalic-102.ttf</string>
		<string>Atkinson-Hyperlegible-Italic-102.ttf</string>
		<string>Atkinson-Hyperlegible-Regular-102.ttf</string>
	</array>
</dict>
</plist>
